<form action="login" method="POST">
  <div class="ui equal width center aligned padded grid">

    <label for="userName-login" class="eight wide column">USERNAME:</label>
    <label for="password-login" class="eight wide column">PASSWORD:</label>
    <input id="userName-login" class="eight wide column" type="text" name="userName" placeholder="your username">
    <input id="password-login" class="eight wide column" type="password" name="password" placeholder="your password">
  
    <button type="submit" class="ui secondary button four wide column">SIGN IN</button>
  </div>
 
</form>

<div class="img-container">
  <img class="logo-huge" src="/images/logohuge.png" />
</div>

