<form action="registr" method="POST">
  
<div class="ui equal width center aligned padded grid">
  <label for="userName-registration" class="four wide column">USERNAME:</label>
    <label for="email-registration" class="eight wide column">E-MAIL:</label>
  <label for="password-registration" class="four wide column">PASSWORD:</label>
  <input id="userName-registration" class="four wide column" type="text" name="userName"
    placeholder="your username">
  <input id="email-registration" class="eight wide column" type="email" name="email"
    placeholder="your email">
  <input id="password-registration" class="four wide column" type="password" name="password"
    placeholder="your password">
  <button type="submit" class="ui secondary button four wide column">REGISTRATION</button>
</div>
  
    
</form>
