<script defer src="/js/editRoute.js"></script>

<form action="/routes/edit/{{routeByID.id}}" method="POST">
<input type="text" class="" name="routeTitle" placeholder="routeTitle">
  <input type="text" class="" name="latitude" placeholder="latitude">
  <input type="text" class="" name="longitude" placeholder="longitude">
  <input type="datetime-local" class="" name="datetimeStart" placeholder="date and time start">
  <input type="datetime-local" class="" name="datetimeFinish" placeholder="date and time end">
  <textarea type="text" class="" name="place" placeholder="description"></textarea>
  <button type="submit" class="">SAVE CHANGES</button>
</form>
