<script defer src="/js/newRoute.js"></script>
<script defer src="/js/addCard.js"></script>

<div id="map" style="width: 100%; height: 40%"></div>
<form action="/routes/new" class="new-route ui form" method="POST">
  <div class="ui equal width center aligned padded grid">
    <label for="routeTitle-newRoute" class="six wide column">NAME YOUR ROUTE:</label>
    <label for="datetimeStart-newRoute" class="five wide column">START TIME:</label>
    <label for="datetimeFinish-newRoute" class="five wide column">PLAN YOUR FINISH TIME:</label>
    <input id="routeTitle-newRoute" maxlength="14" type="text" class="six wide column" name="routeTitle"
      placeholder="HEADER">
    <input id="datetimeStart-newRoute" type="datetime-local" class="five wide column" name="datetimeStart"
      placeholder="date and time start">
    <input id="datetimeFinish-newRoute" type="datetime-local" class="five wide column" name="datetimeFinish"
      placeholder="date and time end">
    <textarea type="text" class="three wide column latitude" rows="3" name="latitude" readonly=""
      placeholder="YOUR ROUTES COORDINATES WILL BE HERE"></textarea>
      <textarea type="text" class="three wide column longitude" rows="3" name="longitude" readonly=""
      placeholder="YOUR ROUTES COORDINATES WILL BE HERE"></textarea>
    <textarea type="text" class="ten wide column" name="description" rows="3"
      placeholder="WRITE A SHORT DESCRIPTION FOR YOURSELF AND FOR YOUR FELLOWS ABOUT THIS ROUTE HERE"></textarea>
  </div>
  <div class="ui equal width center aligned grid">
    <button type="submit" class="ui secondary button">ADD</button>
    <button type="reset" class="ui button">RESET</button>
  </div>
</form>
